.pagesBody{
  display: flex;
  width: 83%; 
  justify-content: space-between;


  & h1{
    font-size: 40px;
  }

  & h2{
    font-size: 28px;
  }

  & h3{
    font-size: 20px;
  }

  & p{
    margin-top: 20px;
  }

  & ul{
    padding-left: 20px;

    & li{
      margin: 15px 0px;
    }
  };

  & .pagesBody--content{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px 100px;

  }
}

@media screen and (max-width:1024px) {
  .pagesBody{
    width: 100%;
    overflow: hidden;

    & .pagesBody--content{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px 50px;
  
    }
  
    & .pageBody__aside{   
      display: none;
    }
  }
}

@media screen and (max-width:600px) {
  .pagesBody{

    & .pagesBody--content{
      padding: 10px;
  
    }
  
  }
}
