.pagesBody{
  display: flex;
  width: calc(100% - 350px);
  justify-content: space-between;


  & h1{
    font-size: 40px;
  }

  & h2{
    font-size: 28px;
  }

  & h3{
    font-size: 20px;
  }

  & .pagesBody--content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
    padding: 50px 150px;

  }
}

@media screen and (max-width:1024px) {
  .pagesBody{
    width: 100%;
    overflow: hidden;

    & .pagesBody--content{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px 20px;
  
    }
  
    & .pageBody__aside{   
      display: none;
    }
  }
}
