.acordionMenuActive{
  list-style: none;
  margin-top: 20px;
  border: solid ;
  border-width: 0px 0px 1px 0px;
  border-color: var(--tertiary-color);
  padding: 10px 0px;

  & h3{
    font-weight: 500;
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--tertiary-color);
    font-size: 16px;


    &::after{
      content: '▶';
      transform: rotate(90deg);
      animation: arrowRotate .5s;
    }
  }
  
  & li{
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;

    &:hover{
      background-color: var(--tertiary-color);
    }
  }
}

.acordionMenuInactive{
  list-style: none;
  margin-top: 20px;
  border: solid ;
  border-width: 0px 0px 1px 0px;
  border-color: var(--tertiary-color);
  padding: 10px 0px;
  

  & h3{
    font-weight: 500;
    width: 100%;
    display: flex;
    padding: 10px;;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;


    &::after{
      content: '▶';
      animation: arrowRotateInvert .5s;
    }
  }
  
  & li{
    display: none;
    transition: .5s linear;
  }
}

@keyframes arrowRotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes arrowRotateInvert {
  0%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
