footer{
  border-top: 1px solid var(--gray-color);
  height: 150px;
  display: grid;
  place-items: center;

  & .footer--center{
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: var(--code-font);
  }
}