.principalMenu{
  background-color: var(--primary-color);
  height: 64px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  & .principalMenu__logo{
    display: flex;
    gap: 10px;
    width: 20%;
    align-items: center;

    & .btnSecondaryMenu{
      background: none;
      border: none;
      color: #fff;
      display: none;
    }


    & img{
      height: 15px;
    }

    & h1{
      font-weight: bold;
      & span, small {
        font-weight: lighter;
      }
    }
  }

  .principalMenu__search{
    width: 40%;
    height: 40px;
    /* background-color: red; */

    & input{
      width: 100%;
      height: 100%;
      border: none;
      padding: 0px 20px;
      font-size: 18px;
      border-radius: 50px;
      background-color: var(--secondary-color);
      color: #fff;
      outline: none;
      
      &::-webkit-input-placeholder{
        color: rgba(255, 255, 255, .5);
      }
    }


  }

  & .principalMenu__socialNetwork{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

    & svg{
      transition: .1s linear;

      &:hover{
        scale: 1.1;
      }

    }

    & button{
      background: #fff;
      border-radius: 20px;
      height: 30px;
      width: 30px;
      border: none;
      display: none;
      justify-content: center;
      align-items: center;

      & svg{
        width: 20px;
        height: 20px;
        fill: var(--primary-color);
      }

    }
  }
}

.__MovileSearch-show{
  position: absolute;
  top: 110px;
  left: 0;
  animation: showDown .5s;
}

.__MovileSearch-hidden{
  position: absolute;
  top: -150px;
  left: 0;
}

@media screen and (max-width:1024px) {
  .principalMenu{
    gap: 20px;
    & .principalMenu__logo{
      width: auto;

      & .btnSecondaryMenu{
        display: block;
      }
  
  
      & img{
        height: 10px;
      }

    }
  
    & .principalMenu__search{
      width: 100%;
    }
  
    & .principalMenu__socialNetwork{
      width: auto;
    }
  }
}

@media screen and (max-width:500px) {
  .principalMenu{
    padding: 10px;
    & .principalMenu__logo{
      font-size: 12px;

    }
  
    & .principalMenu__socialNetwork{
      width: auto;

      & button{
        display: none;
        width: 30px;
        height: 30px;
      }
    }
  }

  .principalMenu__MovileSearch{
    width: 100vw;
    text-align: center;

    & input{
      width: 90%;
      height: 100%;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 50px;
      background-color: #fff;
      color: #000;
      outline: none;
    }
  }
}

@keyframes showDown {
  0%{
    top: -150px;
  }
  100%{
    top: 150px;
  }
}