.secondaryMenu{
  padding: 10px ;
  width: 17%;
  background-color: var(--black-color);
  min-height: calc(100vh - 103px);
  overflow-y: scroll;
  border-right: 1px solid  var(--gray-color);

  & h2{
    color: var(--secondary-color);
    
  }

  & .secondaryMenu__header{
    display: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 10px;

    & button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background: none;
      border: none;
      border-radius: 50px;
      padding: 5px;
      transition: .2s;
      overflow: hidden;


      &:active{
        background-color: var(--gray-color);
      }
    }
  }

  & .__header__logo{
    
    & h3{
      font-weight: 600;

      & span{
        font-weight: normal;
      }
    }
  }
}

.secondaryMenu::-webkit-scrollbar{
  background-color: var(--black-color);
  width: 5px;
}

.secondaryMenu::-webkit-scrollbar-thumb{
  background-color: var(--gray-color);
}

@media screen and (max-width:1024px) {
  .secondaryMenu{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;

    & .secondaryMenu__header{
      display: flex;
    }
  }

  .secondaryMenu--show{
    left: 0;
    animation: showSecondaryMenu .3s ease-in-out;
  }
  
  .secondaryMenu--hidden{
    left: -100vw;
    animation: hiddenSecondaryMenu .3s ease-in-out;
  }
}

