.author{
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--primary-color);
  font-size: 14px;
  border-bottom: 1px solid var(--gray-color);

  & a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    &:hover{
      text-decoration: underline;
    }
  }
}

main{
  width: 100%;
  display: flex;
}
.bodyTest{
  width: 100%;
 
}